@charset "utf-8";

 *{
    padding: 0;
    margin: 0;
}

ul,li,dl{
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
}


/*hover 마우스를 올렸을때 텍스트 보이게*/
/*
#wrap{
    margin:0 auto;
}

.container{
    margin:0 auto;
    display:flex;
    width:600px;
    height:800px;
    border:2px solid #ffc6c6;
}
.container>ul{
    display: flex;
}
.box{
    position:relative;
    margin:15px;
    width:170px;
    height:200px;
    background-color: skyblue;
}
.box:hover{
    background-color: rgba(138, 138, 138, 0.262);
}
.bm{
    color:#fff;
    text-align:center;
    position:absolute;
    top: 0;
    left: 0;
    width:170px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
}
.box:hover .bm {
    opacity: 1;
} */